
<div id="job-view-enterprise">
		<div class="wrap clearfix">
			<!-- 面包屑 -->


			<div class="main ">
				<div class="about-position">
					<div class="title-info">

						<h1 title="高级测试工程师"><%= @job.title %></h1>
						<h3>

							<a href="https://www.liepin.com/company/1072424/" data-promid="" target="_blank" title="阿里巴巴">Ant Inc</a>
						</h3>

						<span class="triangle"></span>
					</div>
					<!-- 已暂停职位 -->

					<div class="job-item">
						<div class="clearfix">
							<div class="job-title-left">


								<p class="job-item-title">
                  <h3><%= @job.wage_lower_bound %>~<%= @job.wage_upper_bound %></h3>

									<em></em>

										<span class="blue" title="反馈时间以工作日为准，周末和假期时间不会计算在内">5天内反馈</span>

								</p>
								<p class="basic-infor">
									<span> <i class="icons24 icons24-position"></i>



													<a href="https://www.liepin.com/hz/">北京</a>




									</span> <span> <i class="icons24 icons24-time"></i>1个月前
									</span>
								</p>
								<div class="job-qualifications">
									<span>本科及以上</span> <span>2年以上经验</span>
									<span>普通话</span> <span>年龄不限</span>
								</div>
							</div>
							<!-- 收藏按钮 start -->
							<div class="right-control">


										<div data-selector="fix-jobapply" class="btn-apply btn btn-warning" data-tester="sendResume" data-selector="sendResume" style="top: auto;">
											<%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
										</div>


							</div>
						</div>
						<!-- tags -->

							<div class="tag-list">

									<span class="tag" title="绩效奖金">绩效奖金</span>

									<span class="tag" title="午餐补助">午餐补助</span>

									<span class="tag" title="带薪年假">带薪年假</span>

									<span class="tag" title="年底双薪">年底双薪</span>

									<span class="tag" title="弹性工作">弹性工作</span>

									<span class="tag" title="定期体检">定期体检</span>

									<span class="tag" title="年度旅游">年度旅游</span>

									<span class="tag" title="扁平管理">扁平管理</span>

									<span class="tag" title="技能培训">技能培训</span>

									<span class="tag" title="五险一金">五险一金</span>

									<span class="tag" title="生育补贴">生育补贴</span>

									<span class="tag" title="500强">500强</span>

									<span class="tag" title="购房津贴">购房津贴</span>

									<span class="tag" title="公司规模大">公司规模大</span>

									<span class="tag" title="牛B的部门/行业">牛B的部门/行业</span>

									<span class="tag" title="股票期权">股票期权</span>

							</div>

					</div>
					<!-- 职位描述 -->
					<div class="job-item main-message">
						<h3 class="job-title">职位描述：</h3>
						<div class="content content-word"><%= simple_format(@job.description) %></div>
					</div>
					    <!--  民生银行在猎聘网职位页面不展示岗位要求和薪资福利字段内容 -->

					<!-- 其他信息 -->
					<div class="job-item main-message">
						<h3 class="job-title">其他信息：</h3>
						<div class="content">
							<ul>
								<li><span>所属部门：</span><label>航旅事业部</label></li>
								<li><span>专业要求：</span><label>不限</label></li>

									<li><span>汇报对象：</span><label>技术总监</label></li>
									<li><span>下属人数：</span><label>0人</label></li>

							</ul>
						</div>
					</div>

          <!-- 联系方式 -->

          <div class="job-item main-message">
						<h3 class="job-title">联系方式：</h3>
						<div class="content content-word"><%= simple_format(@job.contact_email) %></div>
					</div>

					<!-- 企业介绍 -->

						<div class="job-item main-message noborder" data-selector="introduction">
							<h3 class="job-title">企业介绍：</h3>
							<div class="content content-word">Ant Inc经营多元化的互联网业务，致力为全球所有人创造便捷的网上交易渠道。自成立以来，发展了消费者电子商务、网上支付、B2B网上交易市场及云计算等领先业务。Ant Inc现有25个事业部，其目标是促进一个开放、协同、繁荣的电子商务生态系统。
<a class="slider" href="javascript:;">[展开]</a></div>
						</div>

					<div class="job-resume-block " data-selector="job-resume-block"></div>
					<div class="report-area">
						<a class="close-btn" href="javascript:;" data-selector="report-close-btn">×</a>
						<h4>48K Offer温馨提示：</h4>
						<p>
							如在投递及面试过程中遇到招聘方的任何收费行为（ 如培训费、 体检费、 资料费、 置装费、
							押金等），则存在诈骗风险，请您务必提高警惕。

								<a href="javascript:;" class="link-report" data-selector="report-up">举报</a>


						</p>
					</div>
				</div>


			</div>

		</div>
</div>
