
<div id="job-view-enterprise">
		<div class="wrap clearfix">
			<!-- 职位内容 -->
			<div class="main ">
				<div class="about-position">
					<div class="title-info">
						<h1 title="job-title"><%= @job.title %></h1>
						<h3>
							<a href="/" data-promid="" target="_blank" title="Ant Inc">Ant Inc</a>
						</h3>
					</div>
					<!-- 职位 -->

					<div class="job-item">
						<div class="clearfix">
							<div class="job-title-left">
								<p class="job-item-title">
                  <h3><%= @job.wage_lower_bound %>~<%= @job.wage_upper_bound %></h3>

									<em></em>

										<span class="blue" title="反馈时间以工作日为准，周末和假期时间不会计算在内">5天内反馈</span>

								</p>

							</div>
							<!-- 收藏按钮 start -->
							<div class="right-control">
										<div data-selector="fix-jobapply" class="btn-apply btn btn-warning" data-tester="sendResume" data-selector="sendResume" style="top: auto;">
											<%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
										</div>
							</div>
						</div>
						<!-- tags -->
					</div>
					<!-- 职位描述 -->
					<div class="job-item main-message">
						<h3 class="job-title">职位描述：</h3>
						<div class="content content-word">
              <p><%= markdown(@job.description) %> </p>
            </div>
					</div>

          <!-- 联系方式 -->

          <div class="job-item main-message">
						<h3 class="job-title">联系方式：</h3>
						<div class="content content-word"><%= simple_format(@job.contact_email) %></div>
					</div>

					<div class="report-area">
						<a class="close-btn" href="javascript:;" data-selector="report-close-btn">×</a>
						<h4>48K Offer温馨提示：</h4>
						<p>
							如在投递及面试过程中遇到招聘方的任何收费行为（ 如培训费、 体检费、 资料费、 置装费、
							押金等），则存在诈骗风险，请您务必提高警惕。

								<a href="javascript:;" class="link-report" data-selector="report-up">举报</a>

						 </p>
					</div>
				</div>

			</div>

		</div>
</div>
